.movie {
    padding-bottom: 60px;
    margin-bottom: 40px;
    background: #f6f6f6;
    .featured { 
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: 1600px) { 
        height: 300px;
        width: 100%;
        padding-top: 300px;
        }

        h1 {
        //font-family: 'Anton', sans-serif;
        font-family: 'Barlow', sans-serif;
        color: white;
        }
    }

  &-details{

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  
    &-overview {
      padding-right: 20px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-top: -10%;
    
      @media screen and (min-width: 768px) { 
        width: 750px;
      }
    
      @media screen and (min-width: 992px) { 
        width: 970px;
      }
    
      @media screen and (min-width: 1200px) { 
        width: 1170px;
      }
    
      @media screen and (min-width: 1600px) { 
        width: 1200px;
      }
  
      &-card {
        background: black;
        color: white;
        padding: 1em;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 20px;
  
  
        .poster {
          width:  200px;
          height: 300px;
          background-size: cover;
          margin: {
            right: 1em;
            bottom: 1em;
          };
        }
      }
    }
  }
}