@mixin transform-origin ($origin) {
  -moz-transform-origin: $origin;
     -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
-webkit-transform-origin: $origin;
        transform-origin: $origin;
}

@mixin transform($transforms) {
   -moz-transform: $transforms;
     -o-transform: $transforms;
    -ms-transform: $transforms;
-webkit-transform: $transforms;
        transform: $transforms;
}

@mixin ratings-x {
  @for $i from 1 through 20 {
      .pacss-#{$i / 2 * 10}:before {
          @include transform(rotate(#{$i / 2 * 36}deg));
      }
  }
}

$rating-inactive-color: #E6E7E8;
$rating-active-color: #23BDF0;

header{
  padding-bottom: 60px;
  margin-bottom: 40px;
  background: #f6f6f6;
  .featured{

    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: 1600px) {
      background-position: top;
      height: 600px;
      width: 100%;
    }

    &:before {
      content: "";
      display: block;
      background: linear-gradient(0deg, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
      width: 100%;
      height: 300px;

      @media (min-width: 1600px) {
        display: block;
        width: 100%;
        height: 300px;
        margin-top: 0px;
        background: linear-gradient(0deg, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
        z-index: 1;
      }
    }

    &:after {
      content: "";

      @media (min-width: 1600px) {
        display: block;
        width: 100%;
        height: 300px;
        margin-bottom: -300px;
        background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 40%);
        z-index: 1;
      }
    }

    h1 {
      //font-family: 'Anton', sans-serif;
      font-family: 'Barlow', sans-serif;
      color: white;
    }

    main {
      padding-right: 20px;
      padding-left: 15px;
      margin: {
        right: auto;
        left: auto;
      };

      @media screen and (min-width: 768px) {
        width: 750px;
      }

      @media screen and (min-width: 992px) {
        width: 970px;
      }

      @media screen and (min-width: 1200px) {
        width: 1170px;
      }

      @media screen and (min-width: 1600px) {
        width: 1300px;
      }
    }
  }

  .featured-list {
    padding-right: 20px;
    padding-left: 15px;

    @media screen and (min-width: 1600px) {
      margin: {
        top: -10%;
        right: auto;
        left: auto;
      };
   }

    h1 {
      color: white;
    }

    @media screen and (min-width: 768px) {
      width: 750px;
    }

    @media screen and (min-width: 992px) {
      width: 970px;
    }

    @media screen and (min-width: 1200px) {
      width: 1170px;
    }

    @media screen and (min-width: 1600px) {
      width: 1300px;
    }


  section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;

    @media (min-width: 1600px) {

      grid-template-columns: repeat(4, 310px);
      grid-gap: 20px;
    }

    .featured-list-item {
      a {

        width: 100%;
        height: 200px;
        display: block;
        background-color: rgba(gray, .5);
        background-size: cover;
        background-position: center center;
        box-shadow: 0 8px 6px -6px black;
        background-repeat: no-repeat;
        position: relative;

        @media (min-width: 1600px) {
          height: 420px;
        }

        .title {
          font-family: 'Barlow', sans-serif;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          min-height: 40px;
          background: #000000;
          background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 40%);
          padding: .5em;
          font-size: 14px;
          color: white;
        }
      }
    }
  }
  }


}

.movie-list {
  padding-right: 20px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 750px;
  }

  @media screen and (min-width: 992px) {
    width: 970px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
  }

  @media screen and (min-width: 1600px) {
    width: 1200px;
  }

  &-tab {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    li {
      width: (100 / 4) * 1%;
      float: left;
    }
  }

  section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(4, 172px);
      grid-gap: 20px;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(6, 145px);
      grid-gap: 20px;
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(6, 140px);
      grid-gap: 30px;
    }

    @media (min-width: 1600px) {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 40px;
    }

    .movie {

      a {

        width: 100%;
        height: 200px;
        display: block;
        background-color: rgba(gray, .5);
        background-size: cover;
        background-position: center center;
        box-shadow: 0 8px 6px -6px black;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (min-width: 768px) {
          height: 260px;
        }

        @media screen and (min-width: 992px) {
          height: 260px;
        }

        @media screen and (min-width: 1200px) {
          height: 260px;
        }

        @media (min-width: 1600px) {
          height: 260px;
        }

        .rating {
          position: absolute;
          bottom: 1em;
          left: 1em;
          background: white;
          border-radius: 20px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
        }

        .title {
          font-family: 'Barlow', sans-serif;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          min-height: 40px;
          background: #000000;
          background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 40%);
          padding: .5em;
          font-size: 14px;
          color: white;
        }
      }
    }
  }

  .pagination{
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: block;
    height: 50px;
    width: auto;
    text-align: center;

    li {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin: 0 .5em;
    }
  }
}
