section {
  width: 100%;

  $item1440: (1440 / 8) * 1px;
  $item1500: (1500 / 10) * 1px;

  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, $item1440);
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(8, $item1440);
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(10, $item1500);
    //padding: 0 60px;
  }

  .movie {
    height: 250px;

    a {

      height: 250px;
      width: 100%;

      display: block;
      background-size: cover;
      background-position: center center;
      box-shadow: 0 8px 6px -6px black;
      background-repeat: no-repeat;
    }
  }
}
