<header *ngIf="featured && featuredList">
  <div class="featured" [ngStyle]="getImage({
      size: 'original',
      file: featured.backdrop_path
    })">
  </div>
  <main class="featured-list">
      <h1>{{featured.title}}</h1>
    <section>
        <div *ngFor="let item of featuredList" class="featured-list-item">
            <a [ngStyle]="getImage({
              size: 'w500',
              file: item.poster_path
            })" [routerLink]="['/movie', item.id]" [title]="item.title">
            <div class="title"> 
                {{item.title}}
            </div>
          </a>
        </div>
    </section>
  </main>
</header>
<main class="movie-list">
    <section *ngIf="upcoming">
      <div *ngFor="let movie of upcoming" class="movie">
          <a [ngStyle]="getImage({
            size: 'w500',
            file: movie.poster_path
          })" [routerLink]="['/movie', movie.id]" [title]="movie.title">
          <div class="title"> 
              {{movie.title}}
          </div>
        </a>
      </div>
    </section>
</main>
